body {
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw; /* Evita el desbordamiento horizontal */
  height: 100vh; /* Asegura que ocupe toda la ventana */
  overflow-x: hidden; /* Desactiva el scroll horizontal */
}



